$base-width: 1220px;
$color-map-right: #858585;

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #EFEEF1;
  width: 100%;
}


h1 {
  .title {
    font-size: 3em;
  }
}

.diapo {
  width: 100%;
  margin: 0;
}


.main-content {
  max-width: $base-width;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F2F2F2;
  width: 100%;
}

.home-top__content {
  display: flex;
  justify-content: center;;
  position: relative;
  width: 100%;
  height: 300px;
}

.home-top__image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.home-top__description {
  position: relative;
  align-items: center;
  width: $base-width;
  padding: 0 50px;
  h1, h2 {
    line-height: 1.2;
    color: #fff;
    text-shadow: 0 1px 10px #4d4751, 0 0 4px #4d4751;
    letter-spacing: .05em;
  }
}

.location__content {
  max-width: $base-width;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.location__description {
  width: 50%;
  height: 300px;
  padding: 1em;
  background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2)), url('/chateau-chateaugiron.jpg');
  text-shadow: 0 1px 10px #fff, 0 0 1px #fff;
  font-weight: 1.2;
}

.location__description__texte {
  padding: 2em;
  background-color:rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
  margin: auto;
  overflow: auto;
}

.location__map {
  width: 50%;
  height: 300px;
}

.map__img {
  object-fit: cover;
  height: 300px;
  width: 100%;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: inherit;
  text-decoration: none;
}

.logo {
  height: 1em;
}

.map__content {
 
}

.cards__content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  max-width: $base-width;
}

.card__content {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  max-width: 600px;
  width: 50%;
  margin: 2em 0;

  a {
    color: inherit;
    text-decoration: inherit;
  }
}

.card__content-media {
  height: 260px;
  width: 100%;
  position: relative;
}

.card__content-media-badge {
  position: absolute;
  bottom: -45px;
  z-index: 1;
  left: calc(50% - 50px);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 6px solid #fff;

  img {
    border-radius: 50%;
  }
}

.card__content-media > img {
  border-radius: 1em 1em 0 0;
}

.card__content-media, .card__content-media-badge {
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.card__content-body:before {
  content: "";
  display: block;
  height: 18px;
  border-radius: 50% 50% 0 0;
  position: absolute;
  bottom: calc(100% - 10px);
  right: 0;
  left: 0;
  background-color: #fff;
}

.card__content-body {
  box-sizing: border-box;
  flex-grow: 1;
  position: relative;
  background-color: #fff;
  text-align: center;
  padding: 40px 10px 10px;
}

.card__content-footer {
  display: flex;
  align-items: stretch;
  border-top: 1px solid #d2d1d3;
}

.card__content-footer-cta {
  border-radius: 0 0 1em 1em;
  overflow: hidden;
  box-sizing: border-box;
  flex-basis: 0;
  flex-grow: 1;
  min-height: 55px;
  padding: 16px;
  background-color: #fff;
  color: #4d4751;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
  transition: background-color .1s,color .1s;
}

.card__content-footer-cta:hover {
  outline: none;
  box-shadow: none;
  background-color: #6504b5;
  color: #fff;
}

@media (max-width: 600px) {
  .map__content {
    position: relative;
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
  }
    
  .map__image {
    height: 400px;
    width: 100%;
    object-fit: cover;
    object-position: right center;
  }

  .card__content {
    width: 100%;
    padding: 1em 0;
    margin: .5em 0;
  }

  .card__content-media {
    height: 150px;
    width: 100%;
    position: relative;
  }

  .card__content-media > img {
    border-radius: 0;
  }

  .card__content-footer-cta {
    outline: none;
    box-shadow: none;
    background-color: #6504b5;
    color: #fff;
  }

  .card__content-footer-cta {
    border-radius: 0;
  }
}